# Copy this file to `.env` and replace demo values with your real configuration.
# Expo automatically injects EXPO_PUBLIC_* variables into process.env at build time.

EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=241789208179-vv2krtgi1oumu0evet915ilbbki52p4j.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=241789208179-vv2krtgi1oumu0evet915ilbbki52p4j.apps.googleusercontent.com
