#   +----------------------------------------------------------------------------------------+
#   | Please note that this is an example .env file.                                         |
#   | Copy it to a file names ".env" and fill in the values before running the application.  |
#   | The ".env" FILE SHOULD NOT BE COMMITTED TO VERSION CONTROL.                            |
#   | WITHOUT A PROPER .env FILE, THE APPLICATION WILL NOT RUN.                              |
#   +----------------------------------------------------------------------------------------+


# API URL for the backend server.
EXPO_PUBLIC_API_URL=

# API key for the weather service.
EXPO_PUBLIC_WEATHER_API_KEY=

# Google OAuth Client IDs for Android and Web.
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
